body {
    font-size: 1em;
    font-family: sans-serif;
    color: #000000;
}

img {
    border: 0px solid white;
}

h1, h2, h3 {
    text-shadow: 2px 2px 2px #888;
    text-rendering: optimizeLegibility ;
}

.event {
    background-image:url('/bundles/event/images/event_background.png');
    border: 1px solid #A1A1A1;
    border-radius: 1em;
    padding: 0.5em;
    margin-bottom: 1em;
    box-shadow: 4px 4px 4px #AAAAAA;
    width: 50%;
    height: 10em;
    overflow: hidden;
}

div.event h2 {
    margin: 0em;
}

div.event .details {
    font-size: 0.8em;
}

div.event .description {
    height: 3em;
}

div.event .more {

}

.header {

}

.footer {
    border-top: 1px solid #AAAAAA;
    padding-top: 0.5em;
    margin-top: 1em;
    font-size: 0.8em;
    text-align: center;
}

div.footer img {
    margin-right: 0.3em;
}

div.event h2 a {
    text-decoration: none;
    color: #000000;
}

form.eventform {

}

form.eventform label {
    display: inline-block;
    width: 15em;
}

form.eventform label.required {
    font-weight: bold;
}

form.eventform div#form_dateTime {
    display: inline-block;
}

form.eventform #form_description {
    display: block;
    width: 50em;
    height: 15em;
}

form.eventform #form_description_preview {
    display: none;
    width: 50em;
    height: 15em;
    border: 1px solid #808080;
    overflow: scroll;
}

form.eventform #form_name {
    width: 15em;
}

#preview_back {
    display: none;
}

.spinner {
    padding-top: 3em;
    text-align: center;
    margin: 0 auto;
}

.content {
    padding-top: 3em;
}